@tailwind base;

:root{
  --primary: #44403c;
  --secondary: #fafafa;
}

@media print {
  * {
    print-color-adjust: exact;
  }
  body {
    print-color-adjust: exact;
    width: 8.5in;
    height: 11in;
    display: flex;

  }
  #root {
    width: 100%;
  }
  main {
    width: 100%;
    max-width: 100%;
  }
}

* {
  scrollbar-width: .5rem;
  scrollbar-color: var(--secondary) var(--primary);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .5rem;
}
*::-webkit-scrollbar-track {
  background: var(--primary);
  /* border-radius: 5px; */
}
*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;
